<div class="buy-now-form" *ngIf="show">
    <form [formGroup]="buyNowForm" id="buy-form">
        <h2 class="fill-in-text">Please fill in this form to make your purchase:</h2>

        <h3 class="first-name-text">First name:</h3>
        <input type="text" formControlName="firstName" id="first-name">

        <h3 class="last-name-text">Last name:</h3>
        <input type="text" formControlName="lastName" id="last-name">

        <h3 class="address-text">Address:</h3>
        <input type="text" formControlName="address" id="address">

        <button type="button" class="send-form" (click)="submitForm()">Send</button>

        <i class="ri-close-line close-buy-form" (click)="show = false"></i>
    </form>
</div>