<header>
  <div>
    <a href="#"><img src="../assets/logo.jpg" class="logo" alt="logo"></a>
  </div>

  <nav>
      <ul id="navbar">
          <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
          <li><a routerLink="/products" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }">Products</a></li>
          <li><a routerLink="/contacts" routerLinkActive="active">Contact</a></li>
          <li><i class="ri-shopping-cart-fill cart-icon" (click)="showCart()"></i></li>
      </ul>
  </nav>
</header>

<cart-component></cart-component>

<router-outlet></router-outlet>